# terraform
local/ansible/secrets/
iac/ansible/secrets/*.json
iac/terraform/.terraform/*
.DS_Store

iac/terraform/terraform.tfstate*
iac/terraform/.terraform.lock.hcl
iac/terraform/.terraform

# model
model/


.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST